# generic ignore
.DS_Store
npm-debug.log
*.pyc

#ignore generated js
scholarly-web-annotator.js
scholarly-web-annotator.js.map
node_modules
dist
demo/build

# specific ignore
experimental_server.py
public/
public/delpher.html
public/index.html
public/let001-image.html
public/let001-text.html
public/test_selection.html
public/video.html

public/js/delpher_searcher.js
public/js/delpher_searcher.js.map
public/js/openseadragon/
public/js/openseadragonselection/

#never commit real settings
settings.py
