<html>

<head>
    <title>Scholarly annotation web client - B&amp;G AV Example</title>

    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet" >
    <script src="js/jquery-2.2.4.js" ></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="./js/scholarly-web-annotator.js"></script>
    <script type="text/javascript" src="/scripts/openseadragon/build/openseadragon/openseadragon.min.js"></script>
    <script type="text/javascript" src="./js/openseadragonselection/dist/openseadragonselection.js"></script>
    <script>
        var rawData = {{data|tojson}};
        console.debug(rawData);
    </script>
    <style>
        .highlight {
            border: 2px solid red;
        }
    </style>

</head>

<body>

    <h1>Beeld en Geluid AV test page</h1>

    {% if series %}
    <div id="annotation-viewer" style="float: right; ">
    </div>
    <div class="annotation-target-observer"
        vocab="http://localhost:3001/vocabularies/beng_ontology.ttl#"
        typeof="BenG_Series"
        about="{{series.urn}}">

        <h4>Series: {{series.title}}</h4>
        <table>
            <tr>
                <td>Genre:</td>
                <td typeof="Genre" property="hasMetadataItem" resource="urn:{{season.id}}:genre">
                    {{series.genre}}
                </td>
            </tr>
        </table>

    </div>
    {% endif %}

    {% if season %}
    <div class="annotation-target-observer"
        vocab="http://localhost:3001/vocabularies/beng_ontology.ttl#"
        typeof="BenG_Season"
        about="{{season.urn}}">

        <h4>Season: {{season.title}}</h4>
        <table>
            <tr>
                <td typeof="BenG_Series" property="isPartOf" resource="urn:{{season.partOf}}">is part of</td>
                <td>Series: {{season.partOf}}</td>
            </tr>
        </table>
    </div>
    {% endif %}

    {% if program %}
    <div class="annotation-target-observer"
        vocab="http://localhost:3001/vocabularies/beng_ontology.ttl#"
        typeof="BenG_Program"
        about="{{program.urn}}"
        >
        <h3>{{program.title}}</h3>

        <div id="image-viewer1" resource="{{program.urn}}:thumbnail.1" typeof="Image" property="hasRepresentation" style="width: 480px; height=320px;"></div>
        <div id="image-viewer2" resource="{{program.urn}}:thumbnail.2" typeof="Image" property="hasRepresentation" style="width: 480px; height=320px;"></div>

        <table>
            <tr>
                <td>Summary:</td>
                <td typeof="Summary" property="hasMetadataItem" resource="{{program.urn}}:summary">
                    {{program.summary}}
                </td>
            </tr>
            <tr>
                <td>Broadcaster:</td>
                <td typeof="Broadcaster" property="hasMetadataItem" resource="{{program.urn}}:broadcaster">
                    {{program.broadcaster}}
                </td>
            </tr>
            <tr>
                <td typeof="BroadcastDate" property="hasMetadataItem" resource="{{program.urn}}:broadcastDate">Broadcast date:</td>
                <td>{{program.broadcastDate}}</td>
            </tr>
            <tr>
                <td typeof="Genre" property="hasMetadataItem" resource="{{program.urn}}:genre">Genre:</td>
                <td>{{program.genre}}</td>
            </tr>
            <tr>
                <td typeof="BenG_Season" property="isPartOf" resource="{{program.partOf}}">is part of</td>
                <td>Season: {{program.partOf}}</td>
            </tr>
        </table>
    </div>
    {% endif %}

    <script type="text/javascript">
        document.onreadystatechange = function () {
            if (document.readyState === "complete") {
                loadConfig((error, config) => {
                    annotator = new ScholarlyWebAnnotator.ScholarlyWebAnnotator(config);
                    annotator.addAnnotationClient();
                });
            }
        }

        var loadConfig = function(callback) {
            fetch("beng-annotation-config.json", {
                method: "GET"
            }).then(function(response) {
                return response.json();
            }).then(function(config) {
                console.log("loading custom configuration");
                return callback(null, config);
            }).catch(function(error) {
                return callback(error, null);
            });
        }

    </script>
    <script type="text/javascript">
        OpenSeadragon.setString('Tooltips.SelectionToggle', 'Toggle selection');
        OpenSeadragon.setString('Tooltips.SelectionConfirm', 'Confirm selection');

        var configureViewer = function(id, url) {
            return {
                panHorizontal: false,
                panVertical: false,
                defaultZoomLevel: 1,
                minZoomLevel: 1,
                maxZoomLevel: 1,
                id: "image-viewer1",
                prefixUrl: "/js/openseadragon/images/",
                tileSources: {
                    type: "image",
                    buildPyramid: false,
                    url: url
                }
            }
        }
        var toggleOverlay = function(viewer, coords, highlighted) {
            var rect = viewer.viewport.imageToViewportRectangle(coords.x, coords.y, coords.w, coords.h);
            if (event.detail.highlighted) {
                viewer.removeOverlay("runtime-overlay");
            } else {
                var elt = document.createElement("div");
                elt.id = "runtime-overlay";
                elt.className = "highlight";
                viewer.addOverlay({
                    element: elt,
                    location: rect
                });
            }
        }
        var handleSelection = function(rect) {
            let coords = {
                x: rect.x,
                y: rect.y,
                w: rect.width,
                h: rect.height
            }
            let element = rect.eventSource.container.parentElement;
            console.log("setting image selection");
            annotator.setImageSelection(element, coords);
        }

        let imageUrls = ["https://i.ytimg.com/vi/8wvJZxpVrdU/maxresdefault.jpg", "https://i.ytimg.com/vi/mnW3Wm5LnaI/maxresdefault.jpg"];

        var config = configureViewer("image-viewer1", imageUrls[0]);
        var viewer1 = OpenSeadragon(config);
        var config = configureViewer("image-viewer2", imageUrls[1]);
        var viewer2 = OpenSeadragon(config);
        var overlay1 = false;
        var overlay2 = false;
        var viewer1Element = document.getElementById("image-viewer1");
        var viewer2Element = document.getElementById("image-viewer2");
        viewer1Element.addEventListener("toggle-annotation-overlay", function(event) {
            toggleOverlay(viewer1, event.detail.rect, event.detail.highlighted);
        });
        viewer2Element.addEventListener("toggle-annotation-overlay", function(event) {
            toggleOverlay(viewer2, event.detail.rect, event.detail.highlighted);
        });
        viewer1.selection({
            returnPixelCoordinates: true,
            onSelection: (rect) => { handleSelection(rect); }
        });
        viewer2.selection({
            returnPixelCoordinates: true,
            onSelection: (rect) => { handleSelection(rect); }
        });
    </script>
</body>

</html>
