
.creator-view-buttons {
    margin-bottom: 10px;
}

.vocabulary-option {
    margin-left: 10px;
}

.permission-switch {
    float: right;
    //margin-left: 40px;
}

.annotationClient {
    background-color: #ddddee;
    border-radius: 5px;
    padding: 2px;
}

